.cats-box {
  display: flex;
  font-family: sans-serif;

  image {
    width: 150rpx;
    height: 150rpx;
    border-radius: 15px;
    margin-left: 30rpx;
    margin-top: 10rpx;
  }
}

.name {
  width: 380rpx;
}

.text {
  margin-left: 30rpx;
  margin-top: 10rpx;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
}

.title {
  font-size: 35rpx;
  color: #333;
  margin-top: 15rpx;
  margin-bottom: 10rpx;
  /*text-overflow: -o-ellipsis-lastline;*/
  /*溢出内容隐藏*/
  overflow: hidden;
  /*文本溢出部分用省略号表示*/
  text-overflow: ellipsis;
  /*特别显示模式*/
  display: -webkit-box;
  /*行数*/
  -webkit-line-clamp: 2;
  line-clamp: 2;
  /*盒子中内容竖直排列*/
  -webkit-box-orient: horizontal;

  .collect {
    image {
      margin-top: -2rpx;
      width: 40rpx;
      height: 40rpx;
    }
  }
}

.data {
  font-size: 20rpx;
  color: #999;
  margin-bottom: 5rpx;
}